* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
}

/*Header*/

.header {
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  position: fixed;
  width: 100%;
  background: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  padding: 19px 0 40px 0;
  cursor: pointer;
}

.navbar__buttons {
  display: flex;
  align-items: center;
  margin: 5px 0 27px 0;
}

.enter-button {
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color: #1d1d1d;
  padding: 8px 20px;
  margin-right: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  cursor: pointer;
}

.basket-button {
  cursor: pointer;
}

.heading {
  padding-left: 15px;
}

/* Main */

.main {
  padding-top: 110px;
}

.search {
  padding-bottom: 5px;
  border-bottom: 2px solid;
  border-color: rgba(117, 117, 117, 0.5);
}

.search-field {
  padding-top: 20px;
  border: none;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(98, 98, 98, 0.5);
}

.main-heading {
  padding: 56px 0 16px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.card {
  max-width: 308px;
  margin-bottom: 16px;
  cursor: pointer;
}

.card:hover {
  background: rgba(117, 117, 117, 0.04);
}

.card-name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  padding-top: 16px;
  padding-left: 4px;
}

.card-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  padding: 4px 0;
  padding-left: 4px;
}

.card-time {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
  padding-bottom: 20px;
  padding-left: 4px;
}

/* footer */

.footer {
  background: #262626;
  position: relative;
}

.footer-logo {
  padding: 56px 0 40px 0;
  border-bottom: 2px solid;
  border-color: rgba(117, 117, 117, 0.5);
}

.footer__links {
  display: flex;
  justify-content: space-between;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  max-width: 700px;
  padding-bottom: 50px;
}

.footer__links-left {
  padding-top: 26px;
}

.choose-lang {
  padding: 12px 128px 12px 12px;
  background: #3b3b3b;
  border-radius: 2px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
}

.hashtag {
  padding: 33px 0 17px 0;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.hashtag span {
  color: #49a144;
}

.twitter-svg {
  padding: 0 10px 0 10px;
}

.link {
  padding-top: 26px;
  cursor: pointer;
}

.wrapper {
  border-bottom: 2px solid;
  border-color: rgba(117, 117, 117, 0.5);
}

.footer__buttons {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid;
  border-color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}

.footer-button:last-child {
  padding-left: 40px;
}

.footer__copyright {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: white;
}

.up-button {
  position: absolute;
  cursor: pointer;
  right: 10px;
  bottom: 10px;
}

@media (max-width: 965px) {
  .cards {
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 650px) {
  .basket-button {
    display: none;
  }
  .footer__links {
    flex-direction: column;
  }
  .footer__copyright {
    flex-direction: column;
  }
  .copyright-item {
    padding-top: 20px;
  }
}
